<div class="card">
  <div class="card-body">
    <img [src]="imageSrc" alt="trial" />
    <h4 class="card-title">{{ title }}</h4>
    <p class="card-text" [innerHTML]="description"></p>
    <div class="footer-btn">
      <button><a [routerLink]="link" class="btn btn-primary btn-trial">Comece Aqui!</a></button>
    </div>
    <div class="teste">
      <p>
        <i class="ph ph-magic-wand"></i>
      </p>
    </div>
  </div>
</div>

<!-- <div class="card">
    <div class="card-body">
        <img src="/assets/html-5.png" alt="trial">
        <h4 class="card-title">Introdução ao HTML</h4>
        <p class="card-text">
            Se você está começando no desenvolvimento web, o <strong>HTML (HyperText Markup Language</strong>) é o primeiro passo.<br><br> Ele é a linguagem de marcação que estrutura páginas da internet, permitindo organizar textos, imagens, links, formulários e muito mais — a base de qualquer site ou aplicação web.
        </p>
        <div class="footer-btn">
            <button><a routerLink="/roads" class="btn btn-primary">Ver Trilhas</a></button>
        </div>
        <div class="teste">
            <p>
                <i class="ph ph-magic-wand"></i>
            </p>
        </div>
    </div>
</div>  -->
