.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #282828;
    color: white;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 350px;
    padding: 10px;
    border-radius: 15px;
    background-color: #333333;
}