.main-content-01 {
  display: flex;
  flex-direction: column; /* Empilha os elementos verticalmente */
  align-items: center; /* Centraliza os elementos horizontalmente */
  justify-content: center; /* Centraliza os elementos verticalmente */
  width: 100%;
  margin: 0 auto;
}


.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
}

button.prev {
  left: -70px;
  width: 50px;
  height: 50px;
  transition: ease-in-out all 0.3s;
  z-index: 10;
}

button.next {
  right: -70px;
  width: 50px;
  height: 50px;
}

.carousel-img {
  width: 100% !important;
  border-radius: 50px;
  height: 800px;
  object-fit: cover;
}
